@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --sub: #344054;
    --soft: #667185;
    --accent: #09090b;
    --accent-foreground: #ffffff;
    --primary: #a02be4;
    --primary-foreground: #ffffff;
    --secondary: #4f46e5;
    --secondary-foreground: #ffffff;
    --tertiary: var(--background);
    --tertiary-foreground: var(--foreground);
    --weak: #98a2b3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* *,
*::after,
*::before {
    outline: 1px solid red;
} */

body {
    color: var(--foreground);
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
    background: radial-gradient(
        3093.38% 117.19% at 52.58% 7.83%,
        rgba(212, 199, 255, 0.2) 40%,
        rgba(253, 254, 255, 0.2) 80.56%,
        rgba(255, 255, 255, 0.2) 100%
    );
    /* rgba(212, 199, 255, 0.2); */
    /* background-size: auto, auto; */
    position: relative;
    /* isolation: isolate; */
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/bg-dot.webp");
    background-repeat: repeat;
    background-size: 20px 20px;
    opacity: 0.03;
    z-index: -1;
}

.primary-button {
    background: linear-gradient(
            135deg,
            var(--primary) 0%,
            rgba(0, 0, 0, 0) 50%,
            var(--secondary) 100%
        ),
        var(--accent);
    color: var(--primary-foreground);
    box-shadow: 0px 35px 16px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.badge-border-gradient {
    position: relative;
    background-clip: padding-box;
}

.badge-border-gradient::before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: -1;
    border-radius: 999px;
    background: linear-gradient(
        180deg,
        #6c50e0 0%,
        rgba(169, 71, 134, 0.7) 51%,
        rgba(228, 63, 48, 0.8) 100%
    );
}

.text-gradient {
    color: transparent;
    background: linear-gradient(
        180deg,
        #6c50e0 0%,
        rgba(169, 71, 134, 0.7) 51%,
        rgba(228, 63, 48, 0.8) 100%
    );
    background-clip: text;
}

.hero-overlay {
    background: linear-gradient(
        180deg,
        rgba(248, 249, 251, 0) 0%,
        #f8f9fb 5.75%
    );
}

.section-icon {
    background: linear-gradient(
        141.66deg,
        #1a21bf 12.68%,
        rgba(169, 116, 255, 0.2) 58.38%,
        rgba(169, 116, 255, 0.3) 87.72%
    );
    color: var(--primary-foreground);
    box-shadow: 0px 2.73px 4.09px 0px rgba(0, 0, 0, 0.08);
}

.designer-card {
    box-shadow:
        0px 7.32px 7.32px -3.66px #0000000a,
        0px 18.31px 21.97px -3.66px #0000001a;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.clipped {
    clip-path: inset(0 0 -10% 0);
}

.benefit-card {
    border: 0.67px solid rgba(240, 240, 240, 1);
    box-shadow: 0px -2.44px 17.15px -6.67px rgba(226, 227, 242, 1) inset;
    background: rgba(252, 252, 253, 1);
}
.benefit-card-text-container {
    background: linear-gradient(
        179.25deg,
        rgba(252, 252, 253, 0) 11.93%,
        rgba(252, 252, 253, 0.8) 42.22%
    );
}

.faq-item {
    position: relative;
}
.faq-item details {
    border: 1.5px solid rgba(106, 55, 227, 0.12);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
/* .faq-item details details .faq-item__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-out;
}
.faq-item details details[open] + .faq-item__content {
    max-height: 800px;
    transition: max-height 400ms ease-out;
} */

/* .faq-item details details[open] span::before {
    rotate: 90deg;
    transition: rotate 200ms ease-out;
} */

.faq-item::before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: -1;
    border-radius: 12px;
    background: transparent;
    transition: all 0.3ms ease-out;
    /* background: linear-gradient(
        180deg,
        #6c50e0 0%,
        rgba(169, 71, 134, 0.7) 51%,
        rgba(228, 63, 48, 0.8) 100%
    ); */
}

.faq-item:has(> details[open])::before {
    background: linear-gradient(
        2.08deg,
        rgba(237, 255, 252, 0) -2.39%,
        rgba(169, 116, 255, 0.15) 38.56%,
        rgba(90, 36, 222, 0.6) 99.99%
    );
}

.faq-item details summary::-webkit-details-marker {
    display: none;
}

details::details-content {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        height 0.3s,
        opacity 0.5s,
        content-visibility 0.3s;
    transition-behavior: allow-discrete;
}
details[open]::details-content {
    height: calc-size(auto, size);
    opacity: 1;
}

.subscribe-button {
    background: linear-gradient(
            135deg,
            var(--primary) 0%,
            transparent 50%,
            #4f46e5 100%
        ),
        #6c50e0;

    box-shadow:
        0px 1px 2px 0px #375dfb14,
        0px -2px 6px 0px #0000001a inset;
}

.testimonial-card {
    border: 0.67px solid #f0f0f0;
    box-shadow: 0px -10.44px 17.15px -6.67px rgba(226, 227, 242, 0.5) inset;
}

.tab-trigger {
    position: relative;
}
.tab-trigger::before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: -1;
    border-radius: 999px;
    background: transparent;
    transition: all 0.3ms ease-out;
}
.tab-trigger[data-state="active"]::before {
    background: linear-gradient(
        180deg,
        #8c1380 -22.77%,
        #f15bd0 -5.16%,
        rgba(255, 255, 255, 0) 130.94%
    );
}

.pricing-card {
    box-shadow:
        0px 1.25px 2.49px 0px #e4e5e73d,
        0px 12px 24px -12px #c9d7e480;
}

.pricing-card__container {
    position: relative;
    background: #e7f6ec;
}
.pricing-card__container[data-state="active"] {
    background: transparent;
}

.pricing-card__container::before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(
        180deg,
        #036b26 -22.77%,
        #06e451 -5.16%,
        rgba(255, 255, 255, 0) 130.94%
    );
    transition: all 0.3ms ease-out;
}
.pricing-card__container[data-state="active"]::before {
    background: #f0f2f5;
}
.pricing-card-upgrade-button {
    box-shadow:
        0px 1.25px 3.74px 0px #0000001a,
        0px -1.25px 0px 0px #066526 inset,
        0px 1.25px 0.93px 0px #ffffff1f inset,
        0px 0px 0px 1.25px #088231;
}

.feature-card {
    border: 0.67px solid #f0f0f0;
    box-shadow: 0px -10.44px 17.15px -6.67px #e2e3f2 inset;
}
